<h1>My Tasks</h1>
<%= link_to "Add new task", new_task_path %>
  <p><% @tasks.each do |task| %>
    <li> <input type="checkbox" <%= "checked" if task.completed %> >
    <%= link_to "#{task.title}", task_path(task) %>
    <% end %>
    </li>
  </p>
